<h1 style="font-family: Century Gothic, sans-serif; text-align: center; font-size: 50px; margin-top: 25px; color: #0b3954;"><b>{{name}}</b></h1>
<div class="row mt-3">
<div class="col-3 mt-3">
    <img src="{{bookMovie.poster}}" width="200px" height="300px"alt="error">
</div>
<div class="col-9 mt-3 mb-5">
    <video class="mb-3"controls
    src="{{bookMovie.trailer}}" type="video/mp4" width="750" height="300">
    </video>
<div class="mb-3" style="font-family: Century Gothic, sans-serif; font-size: 18px;">{{bookMovie.description}}</div>
<div class="row">
    <div class="col-6">
<select class="form-select" style="font-family: Century Gothic, sans-serif;" (change)="onDropdownChange($event)" >
    <option value="">Select City</option>
    <option value="HYD" [selected]="selectedValue === 'HYD'">HYD</option>
    <option value="CHENNAI" [selected]="selectedValue === 'CHENNAI'">CHENNAI</option>
    <option value="MUMBAI" [selected]="selectedValue === 'MUMBAI'">MUMBAI</option>
  </select>
</div>
<div class="col-6">
<input class="form-control" style="font-family: Century Gothic, sans-serif;" type="date" (change)="onClickOfDate($event)">
</div>
</div>

<div class=" mt-3 mb-3">
    <Button class="btn align-self-centre " style="font-family: Century Gothic, sans-serif;" (click)="routeTo(name, date, city) " >View Shows and Theaters</Button>
</div>

</div>
</div>

